body {
    font-family: 'Rubik', Courier, monospace;
    background-color: ivory;
    margin: 3vh 5vw;
    line-height: normal;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover{
    color: gray;
}


#im_header {
    width: 22vw;
    display: block;
    margin: auto
}

#menu_button{
    display: none;
}

#flexcontainer1nav {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 1%;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 1%;
    

}

#flexcontainer2nav {
    display: flex;
    justify-content: space-around;
    
    
}

.flexitemnav1 {
    border-right: 1px solid black;
    padding: 0% 3.5%;
    font-weight: bold;
    
    
}


.flexitemnav2 {
    border-right: 1px solid black;
    padding:0% 7.5%;
}




h1 {
    margin: 1%;
    
}

p {
    margin: 1%;
    
}



.sottotitolo {
    color: black;
    font-style: normal;
}

.tag {
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 3px;
    bottom: 25px;
    right: 5px;
    font-style: normal;
    z-index: 10;
    background-color: black;
    font-size: 80%;

}

.autore {
    color: black;
    font-weight: bold;
    font-style: italic;
    text-align: right;
}

#flex_container_section {
    margin-top: 3%;
    margin-right: 0%;
    margin-left: 0%;
    display: flex;


}






.left_flex_cont {
    display: flex;
    flex-direction: column;


}


.flex_item_article_left {
    border-bottom: 1px solid black;
    color: brown;
    font-size: 1rem;
    font-style: italic;
    margin-top: 0%;
    width: 20vw;
    height: 42vh;
    margin-bottom: 7%;
    
}



.article_image_left {
    height: 60%;
    width: 100%;
    border-radius: 5%;
    
}






#flex_item_article_middle {
    border-bottom: 1px solid black;
    font-size: larger;
    margin-right: 3%;
    margin-left: 3%;
    height: 100%;
    
}


.img_link {
    position: relative;
}


.article_image_middle {

    width: 100%;
    height: 40%;
    border-radius: 5%;
    

}


#middle_article_header {
    font-size: larger;
    color: brown;
}

#side_header{
    font-size: 1rem;
}





#right_flex_cont {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    
}

.flex_item_article_right {
    border-bottom: 1px solid black;
    color: brown;
    font-size: 100%;
    font-style: italic;
    height: 75vh;
    

}

.article_image_right {
    width: 100%;
    height: 70%;
    border-radius: 5%;
    
}





.flex_container_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1%;



    ;
}


#footer_info {

    position: static;
    top: 3%;
    border-top: 2px solid black;
    padding: 5px;
    margin-top: 5%;
}


.flex_item_footer {

    border-right: 1px solid black;
    padding-right: 1.5%;
    padding-left: 1%;
    font-style: italic;
}

#footer_img {
    width: 5vh;
    display: block;
    margin: auto;
    margin-top: 2%;

}


#footer_final {
    text-align: center;
    
}








@media (max-width: 500px) {
    article {
        margin: 0 0px;
    }

    #flex_container_section{
        flex-direction: column;
    }
    

#flexcontainer1nav {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 1.2%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 1%;
    margin-left: 0%;
    margin-right: 0%;

}
#im_header {
    width: 45vw;
    
}

body {
    
    margin: 2vh 0vw;
    
}


#flex_container_section {
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
    

}


.flex_item_article_left {
    
    width: 100%;
    height: 70%;
    
}


#flexcontainer1nav {
    display: none;
   
}


#flexcontainer2nav {
    display: none;
    
}

#menu_button{
    display: inline;
    height: 4vh;
    
    margin-left: 5%;
    position: relative;
    top: -8vh;
    
    
    
}

#flex_item_article_middle {
    
    margin-right: 0%;
    margin-left: 0%;
    height: 100%;
    width: 100%;
}   

#right_flex_cont{

    width: 100%;
    
}

.flex_item_article_right {
    margin-top: 3%;
    height: 40%;
}

.article_image_right {
    
    width: 100%;
    height: 27vh;
    
}


h1 {
    margin: 0.3%;
    
}

p {
    margin: 0.3%;
    
}


#flex_item_article_middle {
    
    font-size: 1rem;
    
    
}


}