body {
    font-family: 'Rubik', Courier, monospace;
    background-color: ivory;
    margin: 3vh 5vw;
    line-height: normal;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover{
   opacity: 0.6;
    
}


#im_header {
    width: 22vw;
    display: block;
    margin: auto
}

img.left_article_image:hover, img.big_article_image_middle:hover, img.small_mid_img:hover, img.article_image_right:hover {
    opacity:0.8;
    transform: scale(1.2);
}

img{
    transition: transform 0.3s ease; 
}



#menu_button{
    display: none;
}

#flexcontainer1nav {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 1%;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 1%;
    

}

#flexcontainer2nav {
    display: flex;
    justify-content: space-around;
    
    
}

.flexitemnav1 {
    border-right: 1px solid black;
    padding: 0% 3.5%;
    font-weight: bold;

}

.flexitemnav2 {
    border-right: 1px solid black;
    padding:0% 7.5%;
}




h1 {
    margin: 1%;
    
}

.middle_article_header {
    font-size: larger;
    
}


p {
    margin: 1%;
    
}
.data{
    margin: 1%;
}


.sottotitolo {
    color: black;
    font-style: normal;
}

.tag {
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 3px;
    bottom: 25px;
    right: 5px;
    font-style: normal;
    z-index: 10;
    background-color: black;
    font-size: 80%;

}

.link{
    position: relative;
}


.autore {
    color: black;
    font-weight: bold;
    font-style: italic;
    text-align: right;
}


#side_header{
    font-size: 1rem;
}







#flex_container_whole {
    margin-top: 3%;
    margin-right: 0%;
    margin-left: 0%;
    display: flex;
    
}






.left_flex_cont {
    display: flex;
    flex-direction: column;
    width: 20vw;
}


.left_flex_item_article {
    border-bottom: 1px solid black;
    font-size: 1rem;
    font-style: italic;
    margin-top: 0%;
    height: 42vh;
    margin-bottom: 7%;
    
}

.left_image_container{
    height: 60%;
    width: 100%;
    border-radius: 5%;
    overflow: hidden;
}

.left_article_image {
    height: 100%;
    width: 100%;
    border-radius: 5%;
    
    
}







#flex_container_middle{
    display: flex;
    flex-direction: column;
    margin-right: 3%;
    margin-left: 3%;
    width: 45vw;
    
}

#flex_item_article_middle {
    border-bottom: 1px solid black;
    font-size: larger;
    height: 70vh;
    
}

.big_mid_image_container{
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-radius: 5%;
    
}

.big_article_image_middle {

    width: 100%;
    height: 100%;
    
    
}





#right_flex_cont {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    
}

.flex_item_article_right {
    border-bottom: 1px solid black;
    font-size: 100%;
    font-style: italic;
    height: 75vh;
    width: 20vw;

}

.article_right_image_container{

    width: 100%;
    height: 70%;
    overflow: hidden;
    border-radius: 5%;

}

.article_image_right {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    
}





#mostra-altro{
    font-size: larger;
    margin: 2%;
}



.middle-flex-cont {
    display: none;
    margin: 5% 0%;
    justify-content: space-around;
}


.mid_flex_article{
    margin: 0 2%;
    display: none;
    height: 50vh;
    border-bottom: 1px solid black;
}


.mid_small_image_container{
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-radius: 5%;
}


.small_mid_img{
    width: 100%;
    height: 100%;
    
}


















.flex_container_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1%;



    ;
}


#footer_info {

    position: static;
    top: 3%;
    border-top: 2px solid black;
    padding: 5px;
    margin-top: 2%;
}


.flex_item_footer {

    border-right: 1px solid black;
    padding-right: 1.5%;
    padding-left: 1%;
    font-style: italic;
}

#footer_img {
    width: 5vh;
    display: block;
    margin: auto;
    margin-top: 2%;

}


#footer_final {
    text-align: center;
    
}

.arrow{
    width: 100px;
    height: 100px;
    z-index: 200;
    border: 5px black;
    position: absolute;
    right: 27.7vw;
    bottom: 35vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.star{
    position: absolute;
    width: 40px;
    right: 27.7vw;
}

.fav{
    background-color: red;
}

.flex{
    display: flex;
}

.block{
    display: block;
}






@media (max-width: 500px) {
    article {
        margin: 0 0px;
    }

    #flex_container_whole{
        flex-direction: column;
    }
    

#flexcontainer1nav {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 1.2%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 1%;
    margin-left: 0%;
    margin-right: 0%;

}
#im_header {
    width: 45vw;
    
}

body {
    
    margin: 2vh 0vw;
    
}


#flexcontainer1nav {
    display: none;
   
}


#flexcontainer2nav {
    display: none;
    
}


#flex_container_whole {
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
    

}




.left_flex_cont {
    
    width: 100%;
}


.left_image_container{
    height: 25vh;
    width: 100%;
    border-radius: 5%;
    overflow: hidden;
}



#menu_button{
    display: inline;
    height: 4vh;
    
    margin-left: 5%;
    position: relative;
    top: -8vh;
    
    
    
}

#flex_item_article_middle {
    border-bottom: 1px solid black;
    
    height: 100%;
    width: 100%;
    font-size: 1rem;
}   



#flex_container_middle{
    
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
    
}


.big_mid_image_container{
    width: 100%;
    height: 25vh;
    overflow: hidden;
    border-radius: 5%;
    position: relative;
    
}
 



h1 {
    margin: 0.3%;
    
}

p {
    margin: 0.3%;
    
}


.flex_item_article_right {
    margin-top: 3%;
    height: 100%;
    width: 100%;
}

.article_right_image_container{

    width: 100%;
    height: 25vh;
    overflow: hidden;
    border-radius: 5%;

}





}